@page
@model FormsModel
@{
    ViewData["Title"] = "Forms";
}

<h6>
    Demonstrate <code>&lt;form&gt;</code> usage.
</h6>
<form hx-post hx-page="./Forms" hx-indicator="#login-indicator">
    <p>
        For username, you may input any username. <br/>
        For password any text will get you in, except the word <code>password</code>
    </p>

    <div>
        Username: <input asp-for="Username"/> <br/>
        Password: <input asp-for="Password" type="password"/>
    </div>

    <div>
        <p id="login-indicator" class="htmx-indicator">Logging in...</p>

        <button type="submit">Login</button>
    </div>

    @Html.AntiForgeryToken()
</form>

<div class="container">
    <div class="col mt-3">
        <h2> List To Delete Things</h2>

        <ul>
            @for (var i = 0; i < 5; i++)
            {
                <li hx-delete
                    style="margin: 1em; border: 1px solid black"
                    hx-page="Forms"
                    hx-page-handler="Delete"
                    hx-vals='{ "@nameof(HttpMethod)" : "DELETE" }'>
                    Happy Item 😁
                </li>
            }

        </ul>
    </div>
</div>